html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1.6vmin;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7f8c97;
    background-color: #E9F0F5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

header {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('../pictures/carte.png');
    background-position: center;
    background-size: cover;
    position: relative;
    background-clip: content-box;
}

#intro {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E9F0F5;
    padding: 2%;
	overflow-y: auto;
}

#intro p {
    font-size: 1.2em;
    text-align: justify;
}

#intro img {
    margin-top: 2em;
    margin-bottom: 0;
}

#main {
    height: auto;
    position: relative;
    top: 0;
}

sidebar {
    width: 25vw;
    height: 100vh;
    background-color: #130E0A;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.fixed {
    position: fixed;
}

sidebar h3 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    color: #E9F0F5;
    margin-bottom: 1.5em;
}

#menu {
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
}

#menu a {
    text-align: left;
    font-size: 1.2em;
    color: #E9F0F5;
    text-decoration: none;
}

#menu p {
    margin-bottom: 1.5em;
}

#main-page {
    width: 75vw;
    margin-left: 25vw;

}

/*

#controverse-1976 {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 100vh;
    right: 0;
    background-color: #130E0A;
    overflow-x: hidden;
    transition: 1s;
}

#controverse-1976-container {
    opacity: 1;
    transition: opacity .5s;
}

*/

.margin {
    position: fixed;
    width: 15%;
    height: 100vh;
    background-image: url('../pictures/circuit-bleu.jpg');
    background-size: 30vw;
    background-repeat: repeat-y;
}

#left {
    top: 0;
    left: 0;
}

#right {
    top: 0;
    right: 0;
}

.container {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7f8c97;
    position: relative;
}

.centered-container {
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.text-container {
    font-size: 1.3em;
    height: auto;
    max-height: 65vh;
    overflow-y: auto;
}

.container h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 0;
    color: #130E0A
}

.container p {
    text-align: justify;
    margin-bottom: 0;
}

.container img {
    margin: 0;
}

.container ul.list-1 {
    list-style-type: disc;
    margin: 0;
}

.container ul.list-2 {
    list-style-type: square;
    margin: 0;
}

.container li {
    text-align: justify;
    margin: 0.5em;
}

.line-box {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.box {
    width: 15vw;
    height: 5em;
    font-size: 1.3em;
    text-align: center;
    box-shadow: 0 3px 0 #d7e4ed;
    border-radius: 8px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box p {
    margin: 0;
}


#acteurs-container {
    width: 60%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7f8c97;
}

#acteurs-container h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 0;
    color: #130E0A;
}

#biblio-container {
    width: 60%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7f8c97;
}

#biblio-container h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 0;
    color: #130E0A;
}

.acteur img {
    width: 12vh;
    float: left;
    padding: 0;
    margin: 0 2em;
    border-radius: 0.5vh;
}

.acteur {
    height: 20vh;
    margin-bottom: 2vh;
}

.acteur h3 {
    font-size: 2em;
    margin: 1vh;
}

.acteur p {
    font-size: 1.1em;
    text-align: justify;
    margin: 0;
}
